In [6]:
# import labrary

import pandas as pd
import datetime

In [3]:
# get dataframe

df = pd.read_excel(r'D:\MyWorks\DataForProject\Data For RegEx\Data for Project2.xlsx',sheet_name='data').set_index('ID')

df

                                          Description  Value
ID
1                          Made payment on 04/11/2019    132
2                   Meeting with clients (07/06/2014)    135
3   Christmas party will take place on 2018-12-20 ...    294
4            Valentine day is on 14/02/2019 this year    187
5                Easterns was in 2018-04-21 this year    271
6               17/06/2019 was a hot day in Lithuania    212
7    My birthday is on 28-05-2019, not quite long ago    261
8                          Today is Monday 12/12/2019    235

In [5]:
# extract date data from 'Description' column

df['Date'] = df['Description'].str.extract('(\d{2,4}[/-]\d{2}[/-]\d{2,4})')

df

                                          Description  Value        Date
ID
1                          Made payment on 04/11/2019    132  04/11/2019
2                   Meeting with clients (07/06/2014)    135  07/06/2014
3   Christmas party will take place on 2018-12-20 ...    294  2018-12-20
4            Valentine day is on 14/02/2019 this year    187  14/02/2019
5                Easterns was in 2018-04-21 this year    271  2018-04-21
6               17/06/2019 was a hot day in Lithuania    212  17/06/2019
7    My birthday is on 28-05-2019, not quite long ago    261  28-05-2019
8                          Today is Monday 12/12/2019    235  12/12/2019

In [7]:
# create custom function to clean 'Date' data

def cleanData(date):
    date = date.replace('-','/') # replace '-' with '/' to be able split at once
    lst = date.split('/')
    
    if int(lst[2]) > 2000: # to check is the year data occur at the begining or the end
        d = int(lst[0])
        m = int(lst[1])
        y = int(lst[2])
    else:
        d=int(lst[2])
        m = int(lst[1])
        y = int(lst[0])
    
    return datetime.date(y, m, d)

In [8]:
# apply custom function to clean 'Date' data

df['Date'] = df['Date'].apply(cleanData)

df

                                          Description  Value        Date
ID
1                          Made payment on 04/11/2019    132  2019-11-04
2                   Meeting with clients (07/06/2014)    135  2014-06-07
3   Christmas party will take place on 2018-12-20 ...    294  2018-12-20
4            Valentine day is on 14/02/2019 this year    187  2019-02-14
5                Easterns was in 2018-04-21 this year    271  2018-04-21
6               17/06/2019 was a hot day in Lithuania    212  2019-06-17
7    My birthday is on 28-05-2019, not quite long ago    261  2019-05-28
8                          Today is Monday 12/12/2019    235  2019-12-12